body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  overflow: hidden; /* Para remover a barra de rolagem */
}

h1 {
  color: #FFF;
}

/* Área de Jogo */
.game-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 800px;
  margin-top: 10px;
  padding: 20px;
}

/* Mesa*/
.play-area {
  width: 100%;
  flex-grow: 1;
  background-color: #555;
  display: flex;
  flex-wrap: wrap;
  justify-content:center; /* Alinhar as peças à esquerda */
  align-items: center;
  overflow-x: auto; /* Sempre mostrar barra de rolagem horizontal */
  overflow-y: hidden; /* Esconder barra de rolagem vertical */
  height: auto;
  padding: 0 20px; /* Adicionar espaço para evitar que as peças cheguem muito perto da borda */
}

/* Área onde as peças dos player ficam */
.opponent-pieces,
.my-pieces {
  width: 100%;
  height: 120px;
  padding: 5px;
  background-color: #888;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos da Peça */
.top-number,
.bottom-number {
  height: 49%; /* Altura da área de números inferior */
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Permite que as bolinhas quebrem para a próxima linha */
  justify-content: center; /* Centraliza as bolinhas horizontalmente */
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px; /* Espaço entre as linhas */
}

/* Estilos da Peça */
.domino-piece {
  width: 70px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #000;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 0 5px 5px 0; /* Espaço entre as peças */
  cursor: pointer;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #000;
  margin: 4px; 
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 2px 0; 
  flex-grow: -1; 
}

.rotate-left {
  position: absolute;
  top: 45%;
  transform: translateY(-45%);
}

.rotate-right {
  position: absolute;
  top: 45%;
  transform: translateY(-45%);
}

.my-pieces .domino-piece {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.0); /* Adiciona sombreado nas bordas */
}

.opponent-pieces .domino-piece {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.0); /* Adiciona sombreado nas bordas */
  background-color: rgb(226, 226, 226);
}

/* Botão de Compra */
.buy-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.buy-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Styles DragDrop */
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.domino-piece:last-child {
  border: none;
}

.opponent-pieces.cdk-drop-list-dragging .domino-piece:not(.cdk-drag-placeholder),
.my-pieces.cdk-drop-list-dragging .domino-piece:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Estilos do modal */
.modal {
  display: none; /* Oculta o modal por padrão */
  position: fixed; /* Posição fixa para cobrir toda a tela */
  z-index: 1; /* Define a ordem de empilhamento */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
}

.modal-content {
  background-color: #fefefe; /* Cor de fundo do modal */
  margin: 20% auto; /* Centraliza verticalmente e posiciona a 15% do topo */
  padding: 50px;
  border: 1px solid #888;
  width: 30%; /* Largura do modal */
  border-radius: 5px;
  text-align: center; /* Centraliza o texto */
  position: relative; /* Define posição relativa para o posicionamento do botão de fechar */
}

.close {
  color: #aaa;
  position: absolute; /* Posicionamento absoluto em relação ao modal-content */
  top: 10px; /* Distância de 10px do topo */
  right: 10px; /* Distância de 10px da direita */
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Jogar Novamente */
.play-again-button {
  background-color: #4CAF50; /* Cor de fundo */
  border: none; /* Sem borda */
  color: white; /* Cor do texto */
  padding: 12px 24px; /* Espaçamento interno */
  text-align: center; /* Alinhamento do texto */
  text-decoration: none; /* Sem decoração de texto */
  display: inline-block; /* Exibir como bloco */
  font-size: 16px; /* Tamanho da fonte */
  margin: 20px auto auto auto; /* topo, direita, inferior, esquerda */
  cursor: pointer; /* Cursor ao passar */
  border-radius: 5px; /* Borda arredondada */
  transition: background-color 0.3s ease-in-out; /* Transição suave */
  display: none; /* Oculta o botão por padrão */;
}

.play-again-button:hover {
  background-color: #45a049; /* Cor de fundo ao passar o mouse */
}

/* Footer */
footer {
  margin-top: 10px;
}

/* Estilos para o placar */
#placar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  margin: 0 auto;
}
#placar h1 {
  color: #000;
}

#placar h2 {
  text-align: center;
  margin-bottom: 10px;
}

#placar .score {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#placar .score .player-score {
  text-align: center;
}

#player1-score {
  padding: auto;
}

#player1-score p {
  margin: auto;
  text-align: center;
}

#player2-score {
  padding: auto;
}

#player2-score p {
  margin: auto;
  text-align: center;
}